body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#header-container {
    margin: 0;
    padding: 0;
    grid-column: 1 / 4;
    grid-row: 1;
    display: grid;
    background-color: darkslategray;
    color: lightgrey;
    box-shadow: 5px 5px 5px 1px rgba( 0, 0, 0, 0.4);
}

h1 {
    align-self: center;
    justify-self: center;
    font-size: 3rem;
}

#game-container {
    grid-column: 2 / 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr;
}

#message-container {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}

#player-container {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
    justify-self: center;
}

form input {
    margin-bottom: 10px;
}

#board {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    height: 200px;
    width: 200px;
    font-size: 10rem;
}